<head>
  <meta charset="UTF-8">
  <title>Blog Spot</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <nav class="navbar">
      <h2><a class="nav-item" href="/">Home</a></h2>
      <h2><a class="nav-item" href="/dashboard">Dashboard</a></h2>
      {{#if loggedIn}}
      <h2><a class="nav-item logout-link" href="#">Log Out</a></h2>
      {{else}}
      <h2><a class="nav-item" href="/login">Sign In</a></h2>
      {{/if}}
      <h1 class="app-title">My Dashboard</h1>
    </nav>
  </header>
  <main>
    {{{ body }}}
    <button class="btn"><a href="/dashboard/new">Create New Post</a></button>
  </main>

  <script src="/js/logout.js"></script>

</body>

</html>
