<head>
  <meta charset="UTF-8">
  <title>Blog Spot</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>Blog Spot</h1>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
      {{!-- <a href="api for dashboard"...></a> to override defaulting to main.handlebars. --}}
    </main>
  </div>

</body>

</html>