<div class="card">
    <div class="card-header">
        <h2>Title: {{post.title}}</h2>
        <p id="timePosted">{{post.createdAt}}</p>
        {{#if post.user.username}}
        <p id="author">By {{post.user.username}}</p>
        {{/if}}
    </div>
    <div class="card-body">
    <p>{{post.body}}</p>
    </div>
</div>
