<div class="card">
    <div class="card-header">
        <h2>Title: {{post.title}}</h2>
        <p id="timePosted">{{post.createdAt}}</p>
        <p id="author">Author: {{post.user.username}}</p>
    </div>
    <div class="card-body">
    <p>{{post.body}}</p>
    </div>
</div>
